.container {
    border: 1px solid #728C16;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#header {
    background-color: #EEEEEE;
}

.wordcloud {
    vertical-align: middle;
    border: 0px solid #036;
    margin: 0 auto;
    padding: 0;
    page-break-after: always;
    page-break-inside: avoid;
    width: 100%;
    height: auto;
}